<section>
  <form>
    <div class="form-group form-group--personal">
      <sch-input name="first_name" label="First Name"></sch-input>
      <sch-input name="last_name" label="Last Name"></sch-input>
      <div class="row">
        <label>Date of Birth</label>
        <select>
          <option value="" disabled selected hidden>MM</option>
          <option value="1">1</option>
        </select>
        <select>
          <option value="value1">DD</option>
        </select>
        <select>
          <option value="value1">YYYY</option>
        </select>
      </div>
      <div class="row">
        <label>Country</label>
        <select>
          <option value="value1">United Kingdom</option>
        </select>
      </div>
      <sch-input name="city" label="City"></sch-input>
      <sch-input name="state" label="State/Province"></sch-input>
      <sch-input name="address" label="Address"></sch-input>
      <sch-input name="address2" label="Address2"></sch-input>
      <sch-input name="postcode" label="Post/Zip code"></sch-input>
      <div class="row">
        <label>Phone</label>
        <select>
          <option value="value1">(+41) UK</option>
        </select>
        <input type="text" id="phone" name="phone">
      </div>
      <div class="row">
        <label>Citizenship</label>
        <select>
          <option value="value1">British</option>
        </select>
        <select>
          <option value="value1">American</option>
        </select>
      </div>
      <div class="row row--valign-top">
        <label>Languages<br/><span>(working proficiency)</span></label>
        <select>
          <option value="value1">English</option>
        </select>
        <select>
          <option value="value1">Arabic</option>
        </select>
        <select>
          <option value="value1">French</option>
        </select>
      </div>
    </div>
    <div class="form-group form-group--body">
      <div class="row">
        <label>Height</label>
        <select>
          <option value="value1">5'10.0" (177cm)</option>
        </select>
      </div>
      <div class="row">
        <label>Bust/Chest</label>
        <select>
          <option value="value1">34B</option>
        </select>
      </div>
      <div class="row">
        <label>Waist</label>
        <select>
          <option value="value1">31" (78 cm)</option>
        </select>
      </div>
      <div class="row">
        <label>Weight</label>
        <select>
          <option value="value1">121 (55kg)</option>
        </select>
      </div>
      <div class="row">
        <label>Dress Size</label>
        <select>
          <option value="value1">5.5 (36.0 EU)</option>
        </select>
      </div>
      <div class="row">
        <label>Hair Color</label>
        <select>
          <option value="value1">Blond</option>
        </select>
      </div>
      <div class="row">
        <label>Eye Color</label>
        <select>
          <option value="value1">Green</option>
        </select>
      </div>
    </div>
    <div class="form-group form-group--social">
      <sch-input name="twitter" label="Twitter"></sch-input>
      <sch-input name="instagram" label="Instagram"></sch-input>
      <sch-input name="facebook" label="Facebook"></sch-input>
      <sch-input name="linkedin" label="LinkedIn"></sch-input>
    </div>
    <div class="form-group form-group--bio">
      <div class="row row--valign-top">
        <label for="bio">Biography<br/><span>(200 words max.)</span></label>
        <textarea id="bio" name="bio">This is a test</textarea>
      </div>
    </div>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="button" class="btn--save">SAVE</button>
        <button type="button" class="btn--cancel">CANCEL</button>
      </div>
    </div>
  </form>
</section>
