<section>
  <form>
    <div class="form-group form-group--personal">
      <sch-input-row name="first_name" label="First Name"></sch-input-row>
      <sch-input-row name="last_name" label="Last Name"></sch-input-row>
      <sch-dropdown-row label="Date of Birth" [items]="['months', 'days', 'years']"></sch-dropdown-row>
      <sch-dropdown-row label="Country" [items]="['countries']"></sch-dropdown-row>
      <sch-input-row name="city" label="City"></sch-input-row>
      <sch-input-row name="state" label="State/Province"></sch-input-row>
      <sch-input-row name="address" label="Address"></sch-input-row>
      <sch-input-row name="address2" label="Address2"></sch-input-row>
      <sch-input-row name="postcode" label="Post/Zip code"></sch-input-row>
      <div class="row">
        <label>Phone</label>
        <sch-dropdown category="phonePrefixes"></sch-dropdown>
        <input type="text" id="phone" name="phone">
      </div>
      <sch-dropdown-row label="Citizenship" [allowAddCategory]="'nationalities'" [items]="['nationalities', 'nationalities']"></sch-dropdown-row>
      <sch-dropdown-row label="Languages" description="(working proficiency)" [allowAddCategory]="'languages'" [items]="['languages', 'languages', 'languages']"></sch-dropdown-row>
    </div>
    <div class="form-group form-group--body">
      <sch-dropdown-row label="Height" [items]="['heights']"></sch-dropdown-row>
      <sch-dropdown-row label="Bust/Chest" [items]="['chestSizes']"></sch-dropdown-row>
      <sch-dropdown-row label="Waist" [items]="['waistSizes']"></sch-dropdown-row>
      <sch-dropdown-row label="Weight" [items]="['weights']"></sch-dropdown-row>
      <sch-dropdown-row label="Dress Size" [items]="['dressSizes']"></sch-dropdown-row>
      <sch-dropdown-row label="Hair Color" [items]="['hairColors']"></sch-dropdown-row>
      <sch-dropdown-row label="Eye Color" [items]="['eyeColors']"></sch-dropdown-row>
    </div>
    <div class="form-group form-group--social">
      <sch-input-row name="twitter" label="Twitter"></sch-input-row>
      <sch-input-row name="instagram" label="Instagram"></sch-input-row>
      <sch-input-row name="facebook" label="Facebook"></sch-input-row>
      <sch-input-row name="linkedin" label="LinkedIn"></sch-input-row>
    </div>
    <div class="form-group form-group--bio">
      <div class="row row--valign-top">
        <label for="bio">Biography<br/><span>(200 words max.)</span></label>
        <textarea id="bio" name="bio">This is a test</textarea>
      </div>
    </div>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="button" class="btn--save">SAVE</button>
        <button type="button" class="btn--cancel">CANCEL</button>
      </div>
    </div>
  </form>
</section>
