<section class="section--talent">
  <div class="content-wrapper">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        {{talent.firstName}}
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div *ngFor="let role of talent.roles" class="action-item" [ngClass]="{
          'item--hired-circle': role.application && role.application.liked && talent.hired,
          'item--liked': role.application && role.application.liked && !talent.hired,
          'item--unliked': role.application && !role.application.liked,
          'item--none': !role.application}"></div>
        <div *ngIf="!talent.hired" class="action-item item--hire" (click)="onConfirmHiring()"></div>
        <div *ngIf="talent.hired" class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <span class="icon-close"></span>
    <span class="message">
      <b>Oh snap!</b><br/>
      Schmodel's can only be hired for one position, please update.
    </span>
  </div>
</section>