<section class="section--talent" [ngClass]="{'has-message': !!talent.errorMessage}">
  <div class="content-wrapper" [ngClass]="{'event-guest' : guestFlag}">
    <img class="talent-photo" [attr.src]="talent.photoUrl" (click)="onProfile()">
    <div class="talent-content">
      <div class="title-wrapper" (click)="onProfile()">
        {{talent.firstName}} {{talent.lastName}}
      </div>
      <div class="action-wrapper">
        <div *ngFor="let role of talent.roles; let i = index" class="action-item" [ngClass]="{
          'item--hired-circle': talent.contractRoleId === role.id,
          'item--liked': role.application && role.application.liked && !talent.contractRoleId,
          'item--unliked': role.application && !role.application.liked && !talent.contractRoleId}" (click)="onClickActionItem(i)"></div>
        <div *ngIf="!talent.contractRoleId" class="action-item item--hire" (click)="onConfirmHiring()"></div>
        <div *ngIf="talent.contractRoleId" class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <span class="icon-close" (click)="onCloseErrorMessage()"></span>
    <span class="message">
      <b>Oh snap!</b><br/>
      {{talent.errorMessage}}
    </span>
  </div>
</section>
