<div class="page-container" [@routerTransition]>
  <div class="logo-container">
    <img class="img-logo" src="assets/img/img_logo.png">
  </div>
  <p class="comment">
    Lets get to know<br>each other
  </p>
  <div class="content-wrapper">
    <div class="content-container">
      <form [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="form-content">
          <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" formControlName="email" id="email" placeholder="Enter your email">
            <app-control-messages [control]="signUpForm.controls.email"></app-control-messages>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="password" id="password" placeholder="Create a Password (Min. 6 Characters)">
            <app-control-messages [control]="signUpForm.controls.password"></app-control-messages>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="confirmPass" id="confrim" placeholder="Re-enter Password" (keyup)="onKeyUpConfirmPass($event)">
            <app-control-messages [control]="signUpForm.controls.confirmPass"></app-control-messages>
            <p *ngIf="missMatchPass" class="miss-match-pass">{{missMatchPass}}</p>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="activationCode" id="activeCode" placeholder="Activation Code (If you have one)">
            <app-control-messages [control]="signUpForm.controls.activationCode"></app-control-messages>
          </div>
        </div>
        <div class="action-container">
          <div class="btn-login-container">
            <!--
              With type="submit" this button reloads all the page,
              and this happen before server side response
              reaches the handler. Changed to type="button"
  
            <button class="btn bordered-btn" type="submit" (click)="onSignUp()" [disabled]="!signUpForm.valid"> Create Schmodel Account </button>
            -->

            <button class="btn bordered-btn" type="button" (click)="onSignUp()" [disabled]="!signUpForm.valid"> Create Schmodel Account </button>            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
