<div *ngIf="stickyFlag" class="info-header--apply-for-job table-header">
  <img class="info-logo" src="/assets/images/ic_formula_e.svg">
  <div *ngFor="let title of role_title; let i = index" class="info-wrapper" (click)="showDetailDialog(i)">
    <img src="/assets/img/ic_infor.png">
    <span>{{title}}</span>
  </div>
</div>

<div (scroll)="onPageScroll($event)" class="apply-for-jobs" [@routerTransition]>
    <div *ngIf="!stickyFlag" class="info-header--apply-for-job">
      <img class="info-logo" src="/assets/images/ic_formula_e.svg">
      <div *ngFor="let title of role_title; let i = index" class="info-wrapper" (click)="showDetailDialog(i)">
        <img src="/assets/img/ic_infor.png">
        <span>{{title}}</span>
      </div>
    </div>

    <app-event *ngFor="let event of eventView" [event_no]="event.id" [event_number]="event.name" [event_start_date]="event.startDate" [event_end_date]="event.endDate"
      [event_city]="event.city" [event_country_code]="event.country" [roles_data]="event.roles">
    </app-event>
</div>