h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: white;
} 

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: white;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: white;
    margin-bottom: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    color: white;
    margin-bottom: 0px;
}

.apply-for-jobs {
    height: 90vh;
    background-image: url(/assets/img/bg_pattern.png);
    overflow-y: scroll;
}

.role-border-style {
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
}

.role_bg {
    background-color: rgba(255, 255, 255, 0.03);
    border-style:solid;
    border-width:1px;
    border-color:rgba(0, 0, 0, 1);
    text-align: center;
}

.row.role_bg {
    margin: 1px 0px 0px 0px;
}

.col-md-12.role-title-style {
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
}

.col-md-4.col-4.formula-e {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 0px;
}

.app-event-style {
    margin-left: 2px;
}

.gra-footer-padding{
    position: absolute;
    left: 46%;
    right: 46%;
    bottom: 5%;
}

.sticky-footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.table-header {
    z-index: 999;
    top: 0;
    position: sticky;
    background-image: url(/assets/img/bg_pattern.png);    
}

@media (max-width: 325px) {
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 8px;
        font-style: normal;
        font-variant: normal;
        font-weight: 800;
        color: white;
        margin-bottom: 0px;
    }
}