$page-margin: 3px;
$page-margin-half: 1.5px;
$model-img-size: 100px;
$formula-logo-height: 70px;

.hire-model-page {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.table-header {
  display: none !important;
  z-index: 999;
  top: 0;
  width: 100%;
  position: fixed;
  background-image: url(/assets/img/bg_pattern.png);
}

.sticky-show {
  display: flex !important;
}
.sticky-hide {
  visibility: hidden !important;
}

.info-bar {
  display: flex;
  padding-top: $page-margin;
  font-family: 'Open Sans', sans-serif;

  .formula-logo {
    width: $model-img-size;
    min-height: $formula-logo-height;
    background-color: #4EC8EB;
  }

  .info-wrapper {
    display: flex;
    flex: 1;
    margin-left: $page-margin-half;
    margin-right: -$page-margin-half;

    role-item {
      display: flex;
      flex: 1;
      background-color: rgba(255, 255, 255, 0.05);
      margin: 0 $page-margin-half;
      padding: 10px 6px 10px 2px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      flex-direction: column;
      justify-content: space-between;

      &:last-of-type {
        flex: none;
        width: 40px;
      }
    }
    
    .header-guest {
      flex: none !important;
      width: 150px;
    }
  }
}
