<div class="info-bar">
  <img class="formula-logo" src="/assets/images/ic_formula_e.svg">
  <div class="info-wrapper">
    <role-item *ngFor="let role of hireModelData.roles" [role]="role"></role-item>
  </div>
</div>
<div class="talents-container">
  <talent-item *ngFor="let talent of hireModelData.talents" [talent]="talent" (confirmHiring)="confirmHiring($event)" (handleLikeTalent)="handleLikeTalent($event)" (handleUnlikeTalent)="handleUnlikeTalent($event)"></talent-item>
  <!-- <div class="show-more">
    <img class="overlay" src="/assets/images/img_gradient_overlay.png">
    <img src="/assets/images/ic_arrow_down.svg">
  </div> -->
</div>
