<div class="info-bar">
  <img class="formula-logo" src="/assets/images/ic_formula_e.svg">
  <div class="info-wrapper">
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      PR
    </div>
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      HOST
    </div>
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      GRID
    </div>
    <div class="info-item">
    </div>
  </div>
</div>
<div class="talents-container">
  <section class="section--talent has-message">
    <div class="content-wrapper">
      <img class="talent-photo" src="/assets/img/img_home.png">
      <div class="talent-content">
        <div class="title-wrapper">
          Lindsay-Anne
          <img src="/assets/images/ic_three_dots.svg">
        </div>
        <div class="action-wrapper">
          <div class="action-item item--unliked"></div>
          <div class="action-item item--liked"></div>
          <div class="action-item item--none"></div>
          <div class="action-item item--hire"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <span class="icon-close"></span>
      <span class="message">
        <b>Oh snap!</b><br/>
        Schmodel's can only be hired for one position, please update.
      </span>
    </div>
  </section>
  <section class="section--talent">
    <div class="content-wrapper">
      <img class="talent-photo" src="/assets/img/img_home.png">
      <div class="talent-content">
        <div class="title-wrapper">
          Lindsay-Anne
          <img src="/assets/images/ic_three_dots.svg">
        </div>
        <div class="action-wrapper">
          <div class="action-item item--unliked"></div>
          <div class="action-item item--liked"></div>
          <div class="action-item item--none"></div>
          <div class="action-item item--hire"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <span class="icon-close"></span>
      <span class="message">
        <b>Oh snap!</b><br/>
        Schmodel's can only be hired for one position, please update.
      </span>
    </div>
  </section>
  <section class="section--talent">
    <div class="content-wrapper">
      <img class="talent-photo" src="/assets/img/img_home.png">
      <div class="talent-content">
        <div class="title-wrapper">
          Lindsay-Anne
          <img src="/assets/images/ic_three_dots.svg">
        </div>
        <div class="action-wrapper">
          <div class="action-item item--unliked"></div>
          <div class="action-item item--liked"></div>
          <div class="action-item item--none"></div>
          <div class="action-item item--hire"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <span class="icon-close"></span>
      <span class="message">
        <b>Oh snap!</b><br/>
        Schmodel's can only be hired for one position, please update.
      </span>
    </div>
  </section>
  <section class="section--talent">
    <div class="content-wrapper">
      <img class="talent-photo" src="/assets/img/img_home.png">
      <div class="talent-content">
        <div class="title-wrapper">
          Lindsay-Anne
          <img src="/assets/images/ic_three_dots.svg">
        </div>
        <div class="action-wrapper">
          <div class="action-item item--unliked"></div>
          <div class="action-item item--liked"></div>
          <div class="action-item item--none"></div>
          <div class="action-item item--hire"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <span class="icon-close"></span>
      <span class="message">
        <b>Oh snap!</b><br/>
        Schmodel's can only be hired for one position, please update.
      </span>
    </div>
  </section>
  <section class="section--talent">
    <div class="content-wrapper">
      <img class="talent-photo" src="/assets/img/img_home.png">
      <div class="talent-content">
        <div class="title-wrapper">
          Lindsay-Anne
          <img src="/assets/images/ic_three_dots.svg">
        </div>
        <div class="action-wrapper">
          <div class="action-item item--unliked"></div>
          <div class="action-item item--liked"></div>
          <div class="action-item item--none"></div>
          <div class="action-item item--hire"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <span class="icon-close"></span>
      <span class="message">
        <b>Oh snap!</b><br/>
        Schmodel's can only be hired for one position, please update.
      </span>
    </div>
  </section>
  <div class="show-more">
    <img class="overlay" src="/assets/images/img_gradient_overlay.png">
    <img src="/assets/images/ic_arrow_down.svg">
  </div>
</div>
