<div class="info-bar">
  <img class="formula-logo" src="/assets/images/ic_formula_e.svg">
  <div class="info-wrapper">
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      PR
    </div>
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      HOST
    </div>
    <div class="info-item">
      <p class="info-values">
        <span>APPLICANTS <b>32</b></span><br/>
        <span>LIKES <b>26</b></span><br/>
        <span>HIRED <b>19</b></span>
      </p>
      GRID
    </div>
    <div class="info-item">
    </div>
  </div>
</div>
<div class="talents-container">
  <div class="section--talent">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        Lindsay-Anne
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div class="action-item item--unliked"></div>
        <div class="action-item item--liked"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--hire" (click)="confirmHiring()"></div>
      </div>
    </div>
  </div>
  <div class="section--talent">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        Ava
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div class="action-item item--hired-circle"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="section--talent">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        Ava
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div class="action-item item--hired-circle"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="section--talent">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        Ava
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div class="action-item item--hired-circle"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="section--talent">
    <img class="talent-photo" src="/assets/img/img_home.png">
    <div class="talent-content">
      <div class="title-wrapper">
        Ava
        <img src="/assets/images/ic_three_dots.svg">
      </div>
      <div class="action-wrapper">
        <div class="action-item item--hired-circle"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--none"></div>
        <div class="action-item item--hired"></div>
      </div>
    </div>
  </div>
  <div class="show-more">
  </div>
</div>
