<section>
  <div *ngFor="let val of photo_section_infor; let i = index; trackBy:trackByFn" class="item">
    <button *ngIf="val.flag" class="btn-close">
      <span class="icon-close"></span>
    </button>
    <div *ngIf="!val.flag" class="item-content" [ngStyle]="{'background-image':'url(' + val.backImg + ')', 'background-repeat':'no-repeat', 'background-size':val.backSize, 'background-position':val.backPos}">
      <div class="photo-type">
        <div>
          <i class="icon-plus-circle" (click)="onUploadFile(i)"></i>
          <input #fileInput type="file" value="" (change)="valuechange($event)"/>
        </div>
        <p>{{val.text}}</p>
      </div>
    </div>

    <img *ngIf="!val.flag" class="item-bg" src="/assets/images/bg_cell_gradient.png"/>
    <img *ngIf="val.flag" class="item-bg" [src]="val.url"/>
  </div>
</section>