section {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0 18px;

  .item {
    overflow: hidden;
    width: 33.33%;
    position: relative;
    color: white;

    .item-bg {
      width: 100%;
      height: auto;
    }

    button.btn-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 6px;
      font-size: 13px;
      color: white;
    }

    .item-content {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;     

      .photo-type {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50px;
        font-size: 10px;

        .icon-plus-circle {
          display: block;
          margin: 0 auto 10px auto;
          font-size: 30px;
        }
      }
      
      input {
        display: none;
      }

    }
  }
}
