<section>
  <div class="item item--head">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Headshot Photo
      </p>
    </div>
  </div>
  <div class="item item--body">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Full Body Photo
      </p>
    </div>
  </div>
  <div class="item item--profile">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Profile Photo
      </p>
    </div>
  </div>
  <div class="item item--additional">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Additional Photo
      </p>
    </div>
  </div>
  <div class="item item--additional">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Additional Photo
      </p>
    </div>
  </div>
  <div class="item item--additional">
    <img class="item-bg" src="/assets/images/bg_cell_gradient.png">
    <div class="item-content">
      <button class="btn-close">
        <span class="icon-close"></span>
      </button>
      <p class="photo-type">
        <span class="icon-plus-circle"></span>
        Additional Photo
      </p>
    </div>
  </div>
</section>
