select.select--countries,
select.select--heights,
select.select--waistSizes,
select.select--weights,
select.select--dressSizes,
select.select--hairColors,
select.select--eyeColors {
  width: 66%;
}

select.select--chestCircSizes,
select.select--chestCupSizes {
  width: calc(33% - 2px);
}

select.select--citizenships,
select.select--languages {
  width: calc(33% - 2px);
  // margin-bottom: 4px;

  &:last-child {
    margin-right: -1px;
  }
}

option.hidden {
  display: none !important;
}
