select.select--countries,
select.select--heights,
select.select--waistSizes,
select.select--weights,
select.select--dressSizes,
select.select--hairColors,
select.select--eyeColors {
  width: 100%;
}

select {
  display: inline-block;
  vertical-align: top;
}

select.select--chestCircSizes,
select.select--chestCupSizes {
  width: calc(50% - 4px);
  @media screen and (max-width: 570px) {
    width: 100%;
  }
}

select.select--citizenships,
select.select--languages {
  //width: calc(33% - 4px);
  width: 95%;

  &:last-child {
    margin-right: -1px;
  }
}

option.hidden {
  display: none !important;
}

.icon-close {
  position: absolute;
  font-size: 7px;
  right: 3px;
  top: 2px;
  padding: 5px;
}
