/* You can add global styles to this file, and also import other style files */
@import "fonts";

body {
  background-color: black;
}

app-control-messages div {
  position: absolute;
  text-align: left;
  font-size: 10px;
  color: rgba(255, 4, 0, 0.52);
}

.modal-dialog {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) translateX(-50%) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.alert {
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
  color: rgba(255, 4, 0, 0.52);
  text-align: center;
}

button {
  background: none;
  border: none;
  outline: none;
}

.flex-full {
  flex: 1;
}

.col-md-2.col-2 {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.row.align-items-center {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.modal-dialog {
  position: relative;
  width: 90%;
  margin: auto;
  box-shadow: 20px 20px 40px #000000;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) translateX(-50%) !important;
}

.modal-header {
  border-bottom: 0!important;
}

.modal-backdrop {
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(104,95,93,1) 0%, rgba(0,0,0,1) 85%); /* FF3.6-15 */
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(104,95,93,1) 0%,rgba(0,0,0,1) 85%); /* Chrome10-25,Safari5.1-6 */
  background-image: radial-gradient(ellipse at center, rgba(104,95,93,1) 0%,rgba(0,0,0,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#685f5d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  opacity: 0.8!important;
}
.modal-content {
  border: 0!important;
}

.modal {
  border-bottom: 0!important;
}

@media (max-width: 425px) {
  .modal-dialog {
    left: 0 !important;
    transform: translateY(-50%) !important;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    position: absolute;
    max-width: 500px;
    margin: auto;
    top: 50% !important;
    left: 50% !important;
  }
}