<div class="page-container">
  <div class="logo-container">
    <img class="img-logo" src="assets/img/img_logo.png">
  </div>
  <p class="title">Complete Your Profile</p>
  <div class="content-wrapper">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <p>Only Schmodels with an activation code can apply for jobs(until further notice)</p>
  <div class="page-footer">
    <p>LOG-OUT</p>
    <p>Terms&Conditions</p>
  </div>
  <!-- <div class="content-wrapper">
    <div class="content-container">
      <p class="comment">
          Forgot your password?<br>
          No problem, just enter your email<br>
          below and we'll reset it for you
      </p>
      <form [formGroup]="forgotForm" (submit)="onReset()">
        <div class="form-content">
          <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" formControlName="email" id="email" placeholder="ENTER YOUR EMAIL">
            <app-control-message  [control]="forgotForm.controls.email"></app-control-message>
          </div>
        </div>
        <div class="action-container">
          <div class="btn-submit-container">
            <button class="btn bordered-btn" type="submit" [disabled]="!forgotForm.valid"> SUBMIT </button>
          </div>
        </div>
      </form>
    </div>
  </div> -->
</div>