:host {
  display: block;
}
.page-container {
  background-color: black;
  background-image: url("/assets/img/bg_home_page.png");
  background-position: center top;
  width: 100%;
  min-height: 100vh;
  padding: 18px 0 0;
  font-family: 'Open Sans', sans-serif;
  position: relative;

  .img-logo {
    display: block;
    margin: auto;
    width: 49.5%;
  }

  .danger {
      height:22px;
      padding: 0;
      font-size: 16px;
      background-color: transparent;
      margin-top: 15px;
      margin-bottom: 15px;
      color: rgba(255, 4, 0, 0.52);
      text-align: center;
   }

  .title {
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    white-space: pre-wrap;
    margin: 0;

    .user-name {
      font-weight: bold;
    }
  }

  .content-wrapper {
    font-size: 22px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    width: 100%;
    display: block;

    .common-pattern {
      width: 100%;
      height: 76px;
      background-image: url("/assets/img/img_pattern.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: stretch;

      .btn-text {
        width: 68%;
      }

      .btn-icon {
        margin: auto;
        img {
          width: 37px;
          opacity: .3;
        }
      }
    }

    .common-pattern.unCompleted {
      color: #656566;
    }

    .profile-content {
      display: flex;
      margin-bottom: 3px;

      .profile-image {
        width: 70%;
        margin-right: 2px;
        img {
          width : 100%;
          object-fit: cover;
        }
      }
      .profile-info {
        background-image: url("/assets/img/bg_home_ract.png");
        background-size: cover;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .profile-title {
          padding: 6px 0;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 0px;

          h2 {
            font-size: 14px;
            font-weight: bold;
            line-height: 40px;
          }
        }

        .profile-upcoming {
          font-weight: bold;
          position: relative;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;


          span {
            font-size: 70px;
            color: #52c9eb;
            display: block;
            line-height: 1.1;
          }

          p {
            font-size: 10px;
            color: rgba(255, 255,255, .6);
            margin-bottom: 8px;
          }

          &:before {
            content: "";
            background-image: url('/assets/img/ic_divider.png');
            position: absolute;
            display: block;
            background-size: 100% 100%;
            height: 1px;
            top: 0;
            left: 0;
            width: 100%;
           }
        }

        .profile-applications {
          font-weight: bold;
          flex: 1;
          display: flex;
          flex-direction: column;
          //justify-content: center;
          position: relative;

          span {
            font-size: 70px;
            color: #ffffff;
            display: block;
            line-height: 1.1;
          }
          p {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 0px;
            margin-top: -2px;
          }

          &:before {
            content: "";
            background-image: url('/assets/img/ic_divider.png');
            display: block;
            background-size: 100% 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }

  .content-text {
    padding: 20px 69px;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    margin: 0;
  }

  .page-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

    .logout-text {
      font-weight: 700;
      margin: auto;
    }
    .terms-condition {
      font-weight: 200;
      font-size: 14px;
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 426px) {
  .page-container {
    .title {
      font-size: 18px;
      padding: 14px;
    }

    .content-wrapper {
      font-size: 18px;

      .common-pattern {
        height: 60px;

        .btn-icon {
          img {
            width: 30px;
          }
        }
      }
    }

    .content-text {
      padding: 20px;
      font-size: 12px;
    }

    .page-footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      color: #ffffff;
      .terms-condition {
        font-size: 10px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width:768px ) and ( max-width: 800px){
  .page-container {
    .page-footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      color: #ffffff;
      .terms-condition {
        font-weight: 200;
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  .profile-info {

    .profile-title {

      h2 {
        line-height: 35px !important;
      }
    }

    .profile-upcoming {

      span {
        font-size: 60px !important;
      }
    }

    .profile-applications {

      span {
        font-size: 60px !important;
      }
    }
  }
}
