<div class="section-wrapper" [ngStyle]="{'background-image':'url(' + bg_url + ')'}"
  [@routerTransition]>
  <div class="event-calendar">
    <p class="info-values">
      <span><b>{{event_number}}</b></span>
      <span>{{sharedService.formatEventDate(event_start_date, event_end_date)}}</span>
      <span>{{event_city}},</span>
      <span>{{event_country_code}}</span>
    </p>
  </div>

  <app-event-role *ngFor="let role of roles_data; let i = index;" [ngClass]="{'event-guest' : guest_flag}" [event_id]=event_no [role_id]=role.id [position]=position[i] [price]=event_role_price[role.id-1]
    [city]=event_city [country]=event_country_code [status]=event_role_status[role.id-1] [workschedule]=event_role_workschedule[i]>
  </app-event-role>
</div>
