$model-img-size: 120px;

.section-wrapper {
  display: flex;
  margin-top: 4px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .event-calendar {
    width: $model-img-size;

    .info-values {
      font-weight: normal;
      margin: 0;
      line-height: 16px;
      padding: 7px 10px;

      span {
        display: block;  
        color: white;
        font-size: 13px;

        &:nth-of-type(1) {
          font-size: 20px;
          line-height: 17px;
          margin-bottom: 4px;
        }
        &:nth-of-type(3) {
          font-weight: 600;
        }
      }

      b {
        font-weight: 800;
      }
    }
  }

  app-event-role {
    flex: 1;
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }
}

.message-wrapper {
  height: 40px;
  background-color: #FF4165;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5px 0 10px;
  
  .icon-close {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  .message {
    font-family: 'Open Sans', sans-serif;
    font-size: 6px;
    b {
      font-size: 10px;
    }
  }
}