$header-height: 64px;
$form-control-height: 21px;
$half-control-height: 8.5px;
$border-color: #6D6E71;
 
accordion.edit-profile {
  height: 90vh;
  
  accordion-group {
    margin-top: 4px;
    font-family: 'AkzidenzGroteskBE', Arial, sans-serif;

    app-toast {
      position: relative;
      top: 4px;
    }

    &[ng-reflect-is-disabled="true"] {
      header {
        opacity: 0.5;
      }
    }

    .form-group--password .row {
      padding-top: 10px;
    }
    .panel,
    .panel-heading {
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0 !important;
      background-color: transparent;
    }
    section {
      .row p {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 9px;
        margin-bottom: 0;
        margin-right: 13px;
        text-align: center;
      }
    }

    header {
      width: 100%;
      height: $header-height;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 42px 0 30px;
      background-image: url('/assets/images/bg_row.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .title {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 0;
      }

      .icon {
        font-size: 22px;
        color: #939598;

        &.icon-plus-circle {
          display: block;
        }
        &.icon-minus-circle {
          display: none;
        }
      }
    }

    &.panel-open header {
      .icon-plus-circle {
        display: none;
      }
      .icon-minus-circle {
        display: block;
      }
    }

    .panel-body {
      padding: 0;
      color: white;
    }
  }

  .form-group {
    margin: 0;
    padding-top: 20px;

    .row {
      margin: 0;
      padding-top: 5px;
      align-items: center;
      font-size: 14px;
    }

    app-control-messages div {
      padding-left: 130px;
      position: relative;
    }

    &:first-child {
      padding-top: 0;
    }

    &.form-group--submit {
      .row {
        padding-top: 0;
        justify-content: center;
      }
    }
  }

  .row {
    margin: 0;
    padding-top: 5px;
    align-items: center;
    font-size: 11px;

    &.row--multi {
      align-items: flex-start;

      sch-dropdown {
        display: inline-block;
        width: calc(100% - 5px);

        select {
          width: 100%;
          margin-bottom: 4px;
          padding-right: 18px;
        }
      }
    }

    label {
      width: 130px;
      margin: 0;
      align-self: flex-start;
      line-height: 24px;

      &.label-narrow {
        line-height: 1em;
        padding-top: 4px;
      }

      & > span {
        font-size: 14px;
      }
    }
    input {
      flex: 1;
      font-size: 14px;
      height: $form-control-height;
      padding: 0;
      color: white !important;
      outline: none;
      background: none !important;
      border: none;
      border-bottom: 1px solid $border-color;
      border-radius: 0;
      box-shadow: none;
      &[type="password"] {
        letter-spacing: 2px;
      }
    }
    textarea {
      flex: 1;
      height: 85px;
      background-color: transparent;
      color: white;
      border: 1px solid $border-color;
      font-size: 14px;
    }
    phone-input {
      flex: 1;
    }

    sch-dropdown {
      position: relative;
    }

    button {
      width: 75px;
      height: 24px;
      padding: 0;
      border-radius: 0;
      color: white;
      border: 1px solid #C1C1C1;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 12px;

      &:active {
        background-color: rgba(85, 85, 85, 0.5) !important;
      }

      &.btn--save {
        margin-right: 13px;
      }

      &.btn--cancel {
        border: none;
        background-color: rgba(85, 85, 85, 0.2);
      }
    }

    select {
      -webkit-appearance: button;
      -webkit-border-radius: $half-control-height;
      border-radius: $half-control-height;
      padding: 0 5px 1px 22px;
      margin-top: 3px;
      height: $form-control-height;
      background-image: url('/assets/images/ic_arrow_down_fill.svg');
      background-repeat: no-repeat;
      background-position: 8px 50%;
      background-color: transparent;
      color: white;
      font-size: 14px;
      border: 1px solid $border-color;

      option {
        color: black;
      }
    }

    phone-code-select {
      margin-right: 5px;
      border-radius: $half-control-height;
      color: white;
      border: 1px solid $border-color;
    }

    .dropdown-wrapper {
      flex: 1;
    }

    span.add-category {
      position: relative;

      span.icon-plus-circle {
        position: absolute;
        left: 3px;
        top: 3px;
        font-size: 15px;
        color: $border-color;

        &.icon-plus-circle--alone {
          position: static;
          left: 0;
        }
      }
    }
  }
}

.alert-wrapper {
  padding: 8px;
}
