<accordion class="edit-profile" *ngIf="hasError || !!profileService.profileData" [closeOthers]="true">
  <accordion-group *ngFor="let panel of panels" [isOpen]="panel.isOpen" [isDisabled]="hasError" #sectionTemplate>
    <header accordion-heading>
      <p class="title">
        {{ panel.title }}
      </p>
      <span class="icon icon-plus-circle"></span>
      <span class="icon icon-minus-circle"></span>
    </header>
    <edit-profile-password *ngIf="!hasError && panel.component=='edit-profile-password'" (collapseSection)="onCollapseSection(sectionTemplate)"></edit-profile-password>
    <edit-talent-photos *ngIf="!hasError && panel.component=='edit-talent-photos'" (collapseSection)="onCollapseSection(sectionTemplate)"></edit-talent-photos>
    <edit-personal-info *ngIf="!hasError && panel.component=='edit-personal-info'" (collapseSection)="onCollapseSection(sectionTemplate)"></edit-personal-info>
    <edit-terms *ngIf="!hasError && panel.component=='edit-terms'" (collapseSection)="onCollapseSection(sectionTemplate)"></edit-terms>
    <edit-billing-info *ngIf="!hasError && panel.component=='edit-billing-info'" (collapseSection)="onCollapseSection(sectionTemplate)"></edit-billing-info>
  </accordion-group>
</accordion>
<div class="alert-wrapper" *ngIf="hasError">
  <alert type="danger">
    <strong>We could not load your profile details. Please log out and log in again.</strong>
  </alert>
</div>
