<section class="section--password">
  <header>
    <p class="title">
      PASSWORD
    </p>
    <span class="icon icon-plus-circle"></span>
  </header>
</section>
<section class="section--password">
  <header>
    <p class="title">
      PHOTOS
    </p>
    <span class="icon icon-plus-circle"></span>
  </header>
</section>
<section class="section--password">
  <header>
    <p class="title">
      PERSONAL INFORMATION
    </p>
    <span class="icon icon-plus-circle"></span>
  </header>
</section>
<section class="section--password">
  <header>
    <p class="title">
      MY TERMS & CONDITIONS
    </p>
    <span class="icon icon-plus-circle"></span>
  </header>
</section>
<section class="section--password">
  <header>
    <p class="title">
      BILLING INFORMATION
    </p>
    <span class="icon icon-plus-circle"></span>
  </header>
</section>
