<div class="main-page-container">
  <app-toast
    [ngClass]="{'hide': !httpHelperService.serverError}"
    [animatable]="true" toastMessage="We're experiencing technical difficulties. We've logged this error and we'll be working to fix it right away. Please try again later."
    (closeToast)="onCloseErrorMessage()">
  </app-toast>
  <app-toast
    [ngClass]="{'hide': !offlineMode}"
    [animatable]="true" toastMessage="Oh snap! It looks like you're disconnected from the Internet. Please re-connect and try again."
    (closeToast)="onCloseOfflineMessage()">
  </app-toast>
  <app-header *ngIf="pageData.title" [pageData]="pageData"></app-header>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
