.page-container {
  width: 100%;
  background-image: url('/assets/images/bg_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  // overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

app-toast {
  position: fixed;
  top: 0;
  left: 0;
}
