<div class="main-page-container">
  <app-toast
    [ngClass]="{'hide': !showErrorToast()}"
    [animatable]="true" toastMessage={{getServerErrorMessage()}}
    (closeToast)="onCloseErrorMessage()">
  </app-toast>
  <app-toast
    [ngClass]="{'hide': !showOfflineToast()}"
    [animatable]="true" toastMessage={{getOfflineModeMessage()}}
    (closeToast)="onCloseOfflineMessage()">
  </app-toast>
  <app-header *ngIf="pageData.title" [pageData]="pageData"></app-header>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
