<div class="info-bar">
    <img class="formula-logo" src="/assets/images/ic_formula_e.svg">
    <div class="info-wrapper">
      <div class="info-item">
        PR
      </div>
      <div class="info-item">
        HOST
      </div>
      <div class="info-item">
        GRID
      </div>
    </div>
</div>
<div class="talent-container">
  <div class="section--talent" [style.backgroundImage]="bgImgUrls[i]" *ngFor="let eventItem of eventItems; let i = index" >
    <div class="talent-calendar">
      <p class="info-values">
        <span><b>{{eventItem[0].data.name}}</b></span><br/>
        <span>{{eventItem[0].data.formattedDate}}</span><br/>
        <span>{{eventItem[0].data.city | uppercase}}</span><br/>
        <span>{{eventItem[0].data.country.name}}</span>
      </p>
    </div>

    <div class="talent-content"  (click)="onEvent(eventItem[0].data.id)">

      <div class="info-item" [ngClass]="{'item--none': (eventItem[1].data.jobs == 0)}">
        <p *ngIf="!(eventItem[1].data.jobs == 0)">JOBS<span>{{eventItem[1].data.jobs | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[1].data.jobs == 0)">APPLICANTS<span>{{eventItem[1].data.applicants | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[1].data.jobs == 0)">HIRED<span>{{eventItem[1].data.hired | number: '2.'}}</span></p>
      </div>

      <div class="info-item" [ngClass]="{'item--none': (eventItem[2].data.jobs == 0)}">
        <p *ngIf="!(eventItem[2].data.jobs == 0)">JOBS<span>{{eventItem[2].data.jobs | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[2].data.jobs == 0)">APPLICANTS<span>{{eventItem[2].data.applicants | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[2].data.jobs == 0)">HIRED<span>{{eventItem[2].data.hired | number: '2.'}}</span></p>
      </div>

      <div class="info-item" [ngClass]="{'item--none': (eventItem[3].data.jobs == 0)}">
        <p *ngIf="!(eventItem[3].data.jobs == 0)">JOBS<span>{{eventItem[3].data.jobs | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[3].data.jobs == 0)">APPLICANTS<span>{{eventItem[3].data.applicants | number: '2.'}}</span></p>
        <p *ngIf="!(eventItem[3].data.jobs == 0)">HIRED<span>{{eventItem[3].data.hired | number: '2.'}}</span></p>
      </div>

    </div>

  </div>

  <div class="show-more">
    <img class="overlay" src="/assets/images/img_gradient_overlay.png">
    <img src="/assets/images/ic_arrow_down.svg">
  </div>
</div>
