$page-margin: 3px;
$page-margin-half: 1.5px;
$model-img-size: 120px;
$formula-logo-height: 70px;

.event-calender {
	// height: 90vh;
	// overflow-y: scroll;
	overflow: hidden;
}

.table-header {
	display: none !important;
    z-index: 999;
	top: 0;
	width: 100%;
    position: fixed;
	background-image: url(/assets/img/bg_pattern.png);
}

.event-sch-guest {
	flex: none !important;
	width: 153px !important;
}
.sticky-show {
	display: flex !important;
}
.sticky-hide {
    visibility: hidden !important;
}
.rest-header {
	flex: 1;
	background-color: rgba(255, 255, 255, 0.05);
}

.info-bar {
    display: flex;
    padding-top: $page-margin;
    font-family: 'Open Sans', sans-serif;
  
    .formula-logo {
      width: $model-img-size;
      min-height: $formula-logo-height;
      object-fit: cover;
    }
  
    .info-wrapper {
      display: flex;
      flex: 1;
      margin-left: $page-margin-half;
      margin-right: -$page-margin-half;
  
      .header-item {
        display: flex;
        flex: 1;
        background-color: rgba(255, 255, 255, 0.05);
        margin: 0 $page-margin-half;
        padding: 10px 6px 10px 2px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        flex-direction: column;
        justify-content: flex-end;
	  }
	  
	  .header-sch-guest {
		flex: none !important;
		width: 150px;
	  }
    }
}
.talent-container {
	.section--talent {
		display: flex;
		margin-top: 4px;
		width: 100%;
		//height: $model-img-size; 
		background-repeat: no-repeat;
		background-size: 100% 100%;
		//-webkit-overflow-scrolling: touch;

		img {
			background-repeat: no-repeat;
		}

		&:last-of-type {
			margin-bottom: 4px;
		}

		&:nth-of-type(2n+1) .talent-calendar {
			background-color: rgba(0, 198, 253, 0.19);	
		}

		&:nth-of-type(2n) .talent-calendar {
			background-color: rgba(97, 29, 146, 0.19);	
		}

		.talent-calendar {
			width: $model-img-size;

			.info-values {
				font-weight: normal;
				margin: 0;
				line-height: 16px;
				padding: 15px 12px;

				span {
					white-space: nowrap;
					color: white;

					&:nth-of-type(1) {
						display: block;
						font-size: 24px;
						line-height: 17px;
						margin-bottom: 4px;
					}
					&:nth-of-type(2) {
						font-size: 13px;
						white-space: inherit;
						word-wrap: break-word !important;
					}
					&:nth-of-type(3) {
						font-size: 13px;
						font-weight: 600;
					}
					&:nth-of-type(4) {
						font-size: 13px;
					}
				}

				b {
					font-weight: 800;
				}
			}
		}

		.talent-content {
			display: flex;
			flex: 1;
			flex-flow: column wrap;

			.info-item {
				flex: 1;
				height: 100%;
				position: relative;
				//background-repeat: no-repeat;
				//background-position: 50% 50%;
				//background-size: 55px 55px;
				padding: 15px 13px 0px 0px;
				
				&:after {
					content: "";
					position: absolute;
					background-image: linear-gradient(rgba(132, 132, 132, 0.04), #887d7d, rgba(255, 255, 255, 0.04));
					background-size: 100% 100%;
					height: 100%;
					width: 1px;
					right: 0;
					top: 0;
				}

				&.item--none {
					background-image: url('/assets/images/ic_circle_none.svg');
				}

				p {
					font-size: 8px;
					text-align: right;
					margin: 0;
					line-height: 3em;

					span {
						font-size: 20px;
						vertical-align: -webkit-baseline-middle;
						font-weight: 800;
						margin-left: 3px;
						
					}

					&:nth-of-type(1) {
						color: #ffffff;
					}
					&:nth-of-type(2) {
						color: #a6a9ac;
					}
					&:nth-of-type(3) {
						color: #4dc7eb;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 414px) {
	
	.info-bar {
		img {
			width: 100px !important;
		}
	}
	.section--talent {
		height: 105px !important;

		.talent-calendar {
			width: 100px !important;

			.info-values {
				padding: 10px 9px !important;

				span {
					&:nth-of-type(1) {
						font-size: 18px !important;
						line-height: 16px !important;
					}
				}
			}
		}
	
		.talent-content {
			.info-item {
				padding-right: 6px !important;
				
				p {
					span {
						margin-left: 3px;
						font-size: 9px !important;
						vertical-align: baseline !important;
					}
				}
				
			}
		}
	}

	.event-sch-guest {
		flex: none;
		width: 153px !important;

		.talent-content {
			.info-item {
				padding-right: 13px !important;
				p {
					span {
						font-size: 20px !important;
						vertical-align: -webkit-baseline-middle !important;
					}
				}		
			}
		}
	}
}