<div class="info-bar">
    <img class="formula-logo" src="/assets/images/ic_formula_e.svg">
    <div class="info-wrapper">
      <div class="info-item">
        PR
      </div>
      <div class="info-item">
        HOST
      </div>
      <div class="info-item">
        GRID
      </div>
    </div>
</div>
<div class="talent-container">
    <div class="section--talent">
      <div class="talent-calendar">
        <p class="info-values">
          <span><b>R1-2</b></span><br/>
          <span>Dec. 2-3, 2017</span><br/>
          <span>HONG KONG,</span><br/>
          <span>China</span>
        </p>
      </div>
      <div class="talent-content">
        <div class="info-item">
          <p>JOBS<span>25</span></p>
          <p>APPLICANTS<span>44</span></p>
          <p>HIRED<span>25</span></p>
        </div>
        <div class="info-item item-none"></div>
        <div class="info-item item-none"></div>
      </div>
    </div>
  
    <div class="section--talent">
      <div class="talent-calendar">
        <p class="info-values">
          <span><b>R1-2</b></span><br/>
          <span>Dec. 2-3, 2017</span><br/>
          <span>HONG KONG,</span><br/>
          <span>China</span>
        </p>
      </div>
      <div class="talent-content">
        <div class="info-item">
          <p>JOBS<span>25</span></p>
          <p>APPLICANTS<span>44</span></p>
          <p>HIRED<span>25</span></p>
        </div>
        <div class="info-item item-none"></div>
        <div class="info-item item-none"></div>
      </div>
    </div>
  
    <div class="section--talent">
      <div class="talent-calendar">
        <p class="info-values">
          <span><b>R1-2</b></span><br/>
          <span>Dec. 2-3, 2017</span><br/>
          <span>HONG KONG,</span><br/>
          <span>China</span>
        </p>
      </div>
      <div class="talent-content">
        <div class="info-item">
          <p>JOBS<span>25</span></p>
          <p>APPLICANTS<span>44</span></p>
          <p>HIRED<span>25</span></p>
        </div>
        <div class="info-item item-none"></div>
        <div class="info-item item-none"></div>
      </div>
    </div>
  
    <div class="section--talent">
      <div class="talent-calendar">
        <p class="info-values">
          <span><b>R1-2</b></span><br/>
          <span>Dec. 2-3, 2017</span><br/>
          <span>HONG KONG,</span><br/>
          <span>China</span>
        </p>
      </div>
      <div class="talent-content">
        <div class="info-item">
          <p>JOBS<span>25</span></p>
          <p>APPLICANTS<span>44</span></p>
          <p>HIRED<span>25</span></p>
        </div>
        <div class="info-item item-none"></div>
        <div class="info-item item-none"></div>
      </div>
    </div>
  
    <div class="section--talent">
      <div class="talent-calendar">
        <p class="info-values">
          <span><b>R1-2</b></span><br/>
          <span>Dec. 2-3, 2017</span><br/>
          <span>HONG KONG,</span><br/>
          <span>China</span>
        </p>
      </div>
      <div class="talent-content">
        <div class="info-item">
          <p>JOBS<span>25</span></p>
          <p>APPLICANTS<span>44</span></p>
          <p>HIRED<span>25</span></p>
        </div>
        <div class="info-item item-none"></div>
        <div class="info-item item-none"></div>
      </div>
    </div>
  </div>
