
.modal-header {
  background-image: url("/assets/img/bg_modal_title.png");
  background-size: cover;
  color: #FFFFFF;
  border-radius: 0;

  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
  }
}

.modal-body {
  background-color: #e6e7e8;
  font-family: "Open Sans Regular";
  max-height: 380px;
  padding: 20px;
  letter-spacing: 1px;

  .content-wrapper {
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .content {
      padding: 10px;
      font-size: 14px;
      margin-bottom: 0;
      white-space: pre-wrap;
    }
  }

  .action-wrapper {
    text-align: center;

    button {
      background-color: transparent;
      border: 1px solid darkgray;
      margin: 10px;
      font-size: 14px;
      padding: 5px 30px;
      border-radius: 0;
      font-family: "Open Sans Bold";
      text-transform: uppercase;
    }
  }
}

@media (max-width: 321px) {
  .modal-header {
    .modal-title {
      font-size: 20px;
    }

    .close {
      font-size: 20px;
    }
  }

  .modal-body {
    padding: 10px;

    .content-wrapper {
      max-height: 300px;
      overflow: auto;

      .content {
        font-size: 12px;
      }
    }

    .action-wrapper {
      button {
        font-size: 14px;
        padding: 5px 15px;
      }
    }
  }
}
