<div>
  <div class="danger">
      <span class="message">{{message}}</span>
  </div>  
 <div class="profile-page"  *ngIf="profile">
  <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let photo of profile['photoUrls']"><img [src]="photo"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
  </swiper>
  <div class="profile-title">
    <div class="title-detail">
      <h1>{{profile['firstName']}}-{{profile['lastName']}}</h1>
    </div>
  </div>
  <div class="profile-text">
    <div>
      <p><label>Date of Birth:</label><span>{{profile.dateOfBirth | date : 'd MMMM yyyy'}}</span></p>
      <p><label>Residence:</label><span>{{profile.residentialAddressCity}}</span><span *ngIf="profile.residentialAddressCountry">, {{profile.residentialAddressCountry.name}}</span></p>
      <p><label>Phone number:</label><span>+{{profile.phoneCountryCode}}{{profile.phoneNumber}}</span>
      <p><label>Citizenship:</label><span>{{getCitizen(profile.citizenships)}} </span></p>
      <p><label>Languages:</label><span>{{getLanguage(profile.languages)}} </span></p>
      <p class="work-proficiency"><small >(working proficiency)</small></p>
    </div>
    <div *ngIf="profile.bodyHeight">
      <p><label>Height:</label><span>{{profile.bodyHeight.valueInch}}"  ({{profile.bodyHeight.valueCm}}cm)</span></p>
      <p><label>Band size:</label><span>UK {{profile.bodyChestCircumference.ukValue}} / EU {{profile.bodyChestCircumference.euValue}} / US {{profile.bodyChestCircumference.usValue}}</span></p>
      <p><label>Cup size:</label><span>UK {{profile.bodyChestCupSize.ukValue}} / EU {{profile.bodyChestCupSize.euValue}} / US {{profile.bodyChestCupSize.usValue}}</span></p>
      <p><label>Waist:</label><span>{{profile.bodyWaist.valueDeciInch}}" ({{profile.bodyWaist.valueCm}} cm)</span></p>
      <p><label>Weight:</label><span>{{profile.bodyWeight.valueLb}}lbs ({{profile.bodyWeight.valueHg/10}} kg)</span></p>
      <p><label>Dress size:</label><span>UK {{profile.dressSize.ukValue}} / EU {{profile.dressSize.euValue}} / US {{profile.dressSize.usValue}}</span></p>
      <p><label>Hair color:</label><span>{{profile.hairColor.name}}</span></p>
      <p><label>Eye color:</label><span>{{profile.eyeColor.name}}</span></p>
    </div>
    <div>
      <small>BIOGRAPHY</small>
      <p>{{profile.biography}}</p>
    </div>
    <div>
      <p><i class="fa fa-twitter" aria-hidden="true"></i><span>{{profile.twitterUsername}}</span></p>
      <p><i class="fa fa-instagram" aria-hidden="true"></i><span>{{profile.instagramUsername}}</span></p>
      <p><i class="fa fa-facebook" aria-hidden="true"></i><span>{{profile.facebookUsername}}</span></p>
      <p><i class="fa fa-linkedin" aria-hidden="true"></i><span>{{profile.linkedinUsername}}</span></p>
    </div>
    <div>
      <small *ngIf="isOwnProfile">MY TERMS & CONDITIONS</small>
      <small *ngIf="!isOwnProfile">TERMS & CONDITIONS</small>
      <p *ngFor="let item of profile.clauses;let i = index ">{{i+1}}.{{item}}</p>
    </div>
    <div *ngIf="profile.billingCompanyRegistrationCountry">
      <small>BILLING INFORMATION</small>
      <p><label>Name:</label><span>{{profile.billingCompanyName}}</span></p>
      <p><label>Registered:</label><span>{{profile.billingCompanyRegistrationCountry.name}}</span></p>
      <p><label>VAT No.:</label><span>{{profile.billingCompanyVatNumber}}</span></p>
      <br/>
      <p><label>Address:</label><span>{{profile.billingAddressLine1}}</span></p>
      <p><label>Country:</label><span>{{profile.billingAddressCountry.name}}</span></p>
      <p><label>City:</label><span>{{profile.billingAddressCity}}</span></p>
      <p><label>State/Pro.:</label><span>{{profile.billingAddressState}}</span></p>
      <p><label>Zip/Postal:</label><span>{{profile.billingAddressZipCode}}</span></p>
    </div>
  </div>
</div>
</div>