@import "../login/login.component.scss";

.page-container {
  background-image: url("/assets/img/bg_reset_pass.png");

  .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    margin-top: 6%;
  }

  .content-wrapper {
    flex: 1 0 0;
    align-items: flex-end;
    display: flex;
    min-height: 350px;
  }

  .content-container {
    text-align: center;
    color: white;
    width: 100%;

    .comment {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
    }
  }

  .input-lg {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 0;
  }

  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: #FFF;
    border-radius: 0;
  }

  .input-underline:focus {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    box-shadow: none;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin-bottom: 50px;
  }

  .form-group {
    input::-webkit-input-placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.6) !important;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
    }

    input::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.6) !important;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
    }

    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
      font-family: 'Open Sans', sans-serif;
      
      font-size: 12px;
      text-transform: uppercase;
    }
   
    .danger {
      height:22px;
      padding: 0px;
      font-size: 14px;
      background-color: transparent;
      margin-top: 13px;
      margin-bottom: 35px;
      
      .errormessage {
        color: rgba(255, 4, 0, 0.52);
      }
      .validmessage {
        color: rgb(255, 255, 255);
      }
    }
  }
  
  .action-container {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    .bordered-btn {
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      color: rgba(255, 255, 255, 1);
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 1);
      font-size: 12px;
      line-height: 30px;
      padding: 3px 25px;
      border-radius: 0;
      text-transform: uppercase;
    }

    .bordered-btn:hover, .bordered-btn:focus, .bordered-btn:active, .bordered-btn:visited {
      color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 1);
      outline: none;
    }

    .btn-submit-container {
      padding: 27px 0 53px 0;
    }
  }
}

@media (min-width: 426px) {
  .page-container {
    .img-logo {
      width: 35%;
    }

    .content-container {
      p.comment {
        font-size: 35px;
      }
    }
  }
}
