<div class="page-container" [@routerTransition]>
    <div class="logo-container">
      <img class="img-logo" src="assets/img/img_logo.png">
    </div>
    <p class="title">Reset Password</p>
    <div class="content-wrapper">
      <div class="content-container">
        <p class="comment">
            Forgot your password?<br>
            No problem, just enter your email<br>
            below and we'll send you a link to reset your password
        </p>
        <form [formGroup]="forgotForm" (submit)="onReset()">
          <div class="form-content">
            <div class="form-group">
              <input type="email" class="form-control input-underline input-lg" formControlName="email" id="email" placeholder="ENTER YOUR EMAIL">
              <app-control-messages  [control]="forgotForm.controls.email"></app-control-messages>
               <div>{{message}}</div>
            </div>
          </div>
          <div class="action-container">
            <div class="btn-submit-container">
              <button class="btn bordered-btn" type="submit" [disabled]="!forgotForm.valid || isSubmitting"> SUBMIT </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  