<section>
  <form>
    <div class="form-group">
      <sch-input [id]="company_name" label="Company Name"></sch-input>
      <sch-input [id]="country_reg" label="Country of Reg."></sch-input>
      <sch-input [id]="vat" label="UK (or EU) VAT #"></sch-input>
    </div>
    <div class="form-group">
      <sch-input [id]="billing_addr" label="Billing Address"></sch-input>
      <sch-input [id]="billing_addr2" label="Billing Address2"></sch-input>
      <sch-input [id]="billing_country" label="Country"></sch-input>
      <sch-input [id]="billing_city" label="City"></sch-input>
      <sch-input [id]="billing_state" label="State/Province"></sch-input>
      <sch-input [id]="billing_zipcode" label="Zip/Post code"></sch-input>
    </div>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="button" class="btn--save">SAVE</button>
        <button type="button" class="btn--cancel">CANCEL</button>
      </div>
    </div>
  </form>
</section>
