<section>
  <form [formGroup]="editBillingForm" (submit)="onSubmit()">
    <div class="form-group">
      <sch-input-row formControlName="company" label="Company Name"></sch-input-row>
      <sch-dropdown-row formControlName="companyRegistrationCountryId" label="Country" [items]="['countries']"></sch-dropdown-row>
      <sch-input-row formControlName="companyVatNumber" label="UK (or EU) VAT #"></sch-input-row>
    </div>
    <div class="form-group">
      <sch-input-row formControlName="addressLine1" label="Billing Address"></sch-input-row>
      <sch-input-row formControlName="addressLine2" label="Billing Address2"></sch-input-row>
      <sch-dropdown-row formControlName="addressCountryId" label="Country" [items]="['countries']"></sch-dropdown-row>
      <sch-input-row formControlName="addressCity" label="City"></sch-input-row>
      <sch-input-row formControlName="addressState" label="State/Province"></sch-input-row>
      <sch-input-row formControlName="addressZipCode" label="Zip/Post code"></sch-input-row>
    </div>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="submit" class="btn btn--save" [disabled]="!editBillingForm.valid">SAVE</button>
        <button type="button" class="btn btn--cancel">CANCEL</button>
      </div>
    </div>
  </form>
</section>
