section {
  padding: 15px 30px 25px;
  
  .validation-error {
    margin: 5px 0 0 0;
    font-size: 10px;
    color: rgba(255, 4, 0, 0.52);
  }

  .mandatory{
    font-size: 10px;
    margin-bottom: 0;
    color: #6D6E71;
    text-align: left;
  }  
}
