section {
  padding: 15px 20px 25px;

  .validation-error {
    font-size: 12px;
    color: rgba(255, 4, 0, 0.52);
    text-align: center;
  }

  .mandatory{
    font-size: 14px;
    margin-bottom: 0;
    color: #6D6E71;
    text-align: left;
  }  
}

accordion.edit-profile .row label {
  min-width: 160px !important;
}
