<div [ngStyle]="{'background-image':'url(' + bg_url + ')', 'background-repeat':'no-repeat', 'background-size':'cover', 'background-position':'center'}" [@routerTransition]>

  <div class="row text-center">

    <div class="col-md-4 col-4" [ngStyle]="{'background-color': title_border_style }">
      <div class="race_title_style text-left">
        <h1> {{race_number}} </h1>
        <p>  {{race_date}} </p>
        <h3> {{race_city}} </h3>
        <p>  {{race_country_code}} </p>
      </div>
    </div>

    <div class="col-md-2 col-2 align-items-center row job-button-style custom-border">
      <app-my-jobs-button class="my-jobs-button" [status]=job_status[0] [price]=job_price[0]></app-my-jobs-button>
    </div>

    <div class="col-md-2 col-2 align-items-center row job-button-style custom-border">
      <app-my-jobs-button class="my-jobs-button" [status]=job_status[1] [price]=job_price[1]></app-my-jobs-button>
    </div>

    <div class="col-md-2 col-2 align-items-center row job-button-style custom-border">
      <app-my-jobs-button class="my-jobs-button" [status]=job_status[2] [price]=job_price[2]></app-my-jobs-button>
    </div>

    <div class="col-md-2 col-2 align-items-center row job-button-style custom-border">
      <app-my-jobs-button class="my-jobs-button" [status]=job_status[3] [price]=job_price[3]></app-my-jobs-button>
    </div>
  </div>

</div>