<div class="text-center">
  <div class="modal-header">
    <h2 class="modal-title">{{dialogTitle}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="content-wrapper">
      <div class="comment-wrapper">
        <p>Please confirm that you want to hire<br> <strong>{{hireTalent.talentName}}</strong> through <strong>{{hireTalent.companyName}}</strong> for:</p>
      </div>
      <div class="role-wrapper row custom-border">
        <div class="col-md-4 col-4"> Position:</div>
        <div class="col-md-2 col-2"></div>
        <div class="col-md-6 col-6 text-left">{{hireTalent.position}}</div>

        <div class="col-md-4 col-4"> Date:</div>
        <div class="col-md-2 col-2"></div>
        <div class="col-md-6 col-6 text-left">{{hireTalent.eventDate}}</div>

        <div class="col-md-4 col-4"> City/Country:</div>
        <div class="col-md-2 col-2"></div>
        <div class="col-md-6 col-6 text-left">{{hireTalent.city}}, {{hireTalent.country}}</div>

        <div class="col-md-4 col-4"> Pay rate:</div>
        <div class="col-md-2 col-2"></div>
        <div class="col-md-6 col-6 text-left">€{{hireTalent.pay_rate}}</div>
      </div>

      <div class="description-wrapper">
        <span>
          By clicking Agree, you are binding <strong>FIA FORMULA E</strong> to these
        </span>
        <span class="terms-conditions" (click)="showTermsAndConditions()">
            Terms and Conditions
          </span>
        <span *ngIf="hireTalent.clauses.length">
          and the following extra Terms proposed by <strong>{{hireTalent.talentName}}</strong>, <strong>{{hireTalent.companyName}}</strong>
        </span>
      </div>

      <div class="agreement-wrapper" *ngIf="hireTalent.clauses.length">
        <p *ngFor="let clause of hireTalent.clauses; let i = index">
          {{i+1}}. {{clause}}
        </p>
      </div>
    </div>

    <div class="action-wrapper">
      <button (click)="onConfirm()"> Agree </button>
      <button (click)="onClose()"> Cancel </button>
    </div>
  </div>
</div>
