<section>
  <form>
    <div class="row">
      <label for="current_password">Current Password</label>
      <input type="password" id="current_password" name="current_password">
    </div>
    <div class="row">
      <label for="new_password">New Password</label>
      <input type="password" id="new_password" name="new_password">
    </div>
    <div class="row">
      <label for="confirm_password">Re-Enter Password</label>
      <input type="password" id="confirm_password" name="confirm_password">
    </div>
    <div class="row row-buttons">
      <button type="button" class="btn--save">SAVE</button>
      <button type="button" class="btn--cancel">CANCEL</button>
    </div>
  </form>
</section>
