$margin-left-right: 20px;

section {
  padding: 13px $margin-left-right 18px;
}

.toaster {
  margin-left: -$margin-left-right;
  margin-right: -$margin-left-right;
}

.mandatory{
  font-size: 14px;
  margin-bottom: 0;
  color: white;
  text-align: left;
}