section {
  padding: 13px 30px 17px;

  .row {
    margin: 0;
    align-items: center;
    font-size: 11px;

    label {
      min-width: 112px;
      margin: 0;
    }

    input {
      flex: 1;
      height: 22px;
      color: white;
      outline: none;
      background: none;
      border: none;
      border-bottom: 1px solid #6D6E71;
      letter-spacing: 2px;
    }

    &.row-buttons {
      margin-top: 22px;
      justify-content: center;

      button {
        width: 75px;
        height: 24px;
        color: white;
        border: 1px solid #C1C1C1;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 9px;

        &:active {
          background-color: rgba(85, 85, 85, 0.5) !important;
        }

        &.btn--save {
          margin-right: 13px;
        }

        &.btn--cancel {
          border: none;
          background-color: rgba(85, 85, 85, 0.2);
        }
      }
    }
  }
}
