<section>
  <p class="mandatory"> Fields marked with * are mandatory.</p>
  <form [formGroup]="editPasswordForm" (submit)="onSubmit()" (change)="onChange($event)" (keypress)="onChange($event)">
    <div class="form-group form-group--password">
      <sch-input-row  type="password" formControlName="oldPassword" label="Current Password *" maxlength="100"></sch-input-row>
      <app-control-messages [control]="editPasswordForm.controls.oldPassword"></app-control-messages>

      <sch-input-row  type="password" formControlName="newPassword" label="New Password *" maxlength="100"></sch-input-row>
      <app-control-messages [control]="editPasswordForm.controls.newPassword"></app-control-messages>

      <sch-input-row  type="password" formControlName="confirmPassword" label="Confirm Password *" maxlength="100"></sch-input-row>
      <app-control-messages [control]="editPasswordForm.controls.confirmPassword"></app-control-messages>

    </div>
    <div class="form-group form-group--submit">
      <app-toast
        *ngIf="status"
        [toastType]="status.success ? 'success' : 'error'"
        [toastTitle]="status.success ? 'Success!' : 'Error!'"
        [toastMessage]="status.message"
        (closeToast)="status = null"
      ></app-toast>
      <div class="row">
        <button type="submit" class="btn btn--save" [disabled]="!editPasswordForm.valid">SAVE</button>
        <button type="button" class="btn btn--cancel" (click)="onCancel()">CANCEL</button>
      </div>
    </div>
  </form>
</section>
