<section>
  <form>
    <div class="form-group form-group--password">
      <sch-input [type]="'password'" [id]="'current_password'" [label]="'Current Password'"></sch-input>
      <sch-input [type]="'password'" [id]="'new_password'" [label]="'New Password'"></sch-input>
      <sch-input [type]="'password'" [id]="'confirm_password'" [label]="'Confirm Password'"></sch-input>
    </div>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="button" class="btn--save">SAVE</button>
        <button type="button" class="btn--cancel">CANCEL</button>
      </div>
    </div>
  </form>
</section>
