<div [ngStyle] = "{'background-image' : 'url(../../assets/img/bg_pattern.png)'}" [@routerTransition]>
  <div>
    <div class = "col-md-4 col-4" style = "padding-left: 0px; padding-right: 0px">
      <img src = "/assets/img/ic_formulae.png">
    </div>

    <div class = "col-md-2 col-2">
    </div>

    <div class = "col-md-2 col-2">
    </div>

    <div class = "col-md-2 col-2">
    </div>

    <div class = "col-md-2 col-2">
    </div>
  </div>

  <div class = "bg">
    <div class = "row align-items-center" style="margin-left:0px; margin-right:0px">
      <div class = "col-md-4 col-4 div-opacity1">
        <div class = "text-left" style = "padding-top:15%; padding-bottom:15%;">
          <h1> R1-2 </h1>
          <p> Dec. 2-3, 2017 </p>
          <h3> HONG KONG, </h3>
          <p> HK </p>
        </div>
      </div>


      <div class = "col-md-2 col-2" style = "padding-left:2%; padding-right:2%; border-style:solid; border-right-color: rgba(100,100,100,1)">
        <app-my-jobs-button [status] = "1" [price] = "'1,650'"></app-my-jobs-button>

        <!-- <div (click) = "onToggle()" style = "padding-bottom: 10px">
          <img src = {{url_button}} style = "width: 90%"/>
        </div>
        <div class = "text-center">
          <p> 1,650€ </p>
        </div> -->
      </div>

      <div class = "col-md-2 col-2" style = "padding-left:2%; padding-right:2%">
        <div style = "padding-bottom: 10px">
          <img src = "/assets/img/ic_disabled.png" style = "width: 90%"/>
        </div>

        <div>
          <p> &nbsp; </p>
        </div>
      </div>

      <div class = "col-md-2 col-2" style = "padding-left:2%; padding-right:2%">
        <div style = "padding-bottom: 10px">
          <img src = "/assets/img/ic_disabled.png" style = "width: 90%"/>
        </div>
        <div>
          <p> &nbsp; </p>
        </div>
      </div>      
      <div class = "col-md-2 col-2" style = "padding-left:2%; padding-right:2%">
        <div style = "padding-bottom: 10px;">
          <img src = "/assets/img/ic_apply.png" style = "width: 90%"/>
        </div>
        <div>
          <p> &nbsp; </p>
        </div>
      </div>
    </div>
  </div>
</div>