<div class="my-jobs" [ngStyle]="{ 'height' : boardHeight }" [@routerTransition]> 

  <div class="text-center">
    <app-dialog></app-dialog>
  </div>

  <div class="row text-center">
    <div class="col-md-4 col-4 formula-e">
      <img src="/assets/img/ic_formulae.png" width="100%">
    </div>

    <div class="col-md-2 col-2 role_bg align-items-center row">
      <div class="col-md-12">
        <img src="/assets/img/ic_infor.png" width="60%">
      </div>

      <div class="col-md-12 role-title-style">
        <h2> PR </h2>
      </div>
    </div>

    <div class="col-md-2 col-2 role_bg align-items-center row">
      <div class="col-md-12"> 
        <img src="/assets/img/ic_infor.png" width="60%">
      </div>

      <div class="col-md-12 role-title-style">
        <h2> HOST </h2>
      </div>
    </div>

    <div class="col-md-2 col-2 role_bg align-items-center row">
      <div class="col-md-12">
        <img src="/assets/img/ic_infor.png" width="60%">
      </div>

      <div class="col-md-12 role-title-style">
        <h2> GIRD </h2>
      </div>
    </div>

    <div class="col-md-2 col-2 role_bg align-items-center row">
      <div class="col-md-12">
        <img src="/assets/img/ic_infor.png" width="60%">
      </div>

      <div class="col-md-12 role-title-style">
        <h4> SCHMODEL GUEST </h4>
      </div>
    </div>
  </div>

  <div class="app-event-style">
    <app-event 
                      [event_no]="0" 
                      [event_number]="'R1-2'" 
                      [event_date]="'Dec. 2-3, 2017'" 
                      [event_city]="'HONG KONG,'" 
                      [event_country_code]="'HK'" 
                      [event_role_price]="['1,650€', '0', '0', '0']" 
                      [event_role_status]="[1, 0, 0, 2]">
    </app-event>

    <app-event 
                      [event_no]="1" 
                      [event_number]="'R3'" 
                      [event_date]="'Jan. 13, 2018'" 
                      [event_city]="'MARRAKESH,'" 
                      [event_country_code]="'MA'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="2" 
                      [event_number]="'R4'" 
                      [event_date]="'Feb. 3, 2018'" 
                      [event_city]="'SANTIAGO,'" 
                      [event_country_code]="'CL'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 1, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="3" 
                      [event_number]="'R5'" 
                      [event_date]="'Mar. 3, 2018'" 
                      [event_city]="'MEXICO CITY,'" 
                      [event_country_code]="'MX'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="4" 
                      [event_number]="'R6'" 
                      [event_date]="'Mar. 17, 2018'" 
                      [event_city]="'SAO PAULO,'" 
                      [event_country_code]="'BR'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 1, 2]">
    </app-event>

    <app-event 
                      [event_no]="5" 
                      [event_number]="'R7'" 
                      [event_date]="'Apr. 14, 2018'" 
                      [event_city]="'ROME,'" 
                      [event_country_code]="'IT'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>
                      
    <app-event 
                      [event_no]="6" 
                      [event_number]="'R8'" 
                      [event_date]="'Apr. 38, 2018'" 
                      [event_city]="'PARIS,'" 
                      [event_country_code]="'FR'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="7" 
                      [event_number]="'R9'" 
                      [event_date]="'May. 19, 2018'" 
                      [event_city]="'BERLIN,'" 
                      [event_country_code]="'DE'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="8" 
                      [event_number]="'R10'" 
                      [event_date]="'May. 19, 2018'" 
                      [event_city]="'BERLIN,'" 
                      [event_country_code]="'DE'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>

    <app-event 
                      [event_no]="9" 
                      [event_number]="'R11-12'" 
                      [event_date]="'May. 19, 2018'" 
                      [event_city]="'BERLIN,'" 
                      [event_country_code]="'DE'" 
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>
    
    <app-event 
                      [event_no]="10" 
                      [event_number]="'R13-14'" 
                      [event_date]="'May. 19, 2018'" 
                      [event_city]="'BERLIN'" 
                      [event_country_code]="'DE'"
                      [event_role_price]="['1,400€', '800€', '200€', '0']" 
                      [event_role_status]="[2, 2, 2, 2]">
    </app-event>
  </div>

  <div [ngStyle]="{'height' : bottomHeight}" [style.visibility]="(flag == 0) ? 'hidden' : 'visible' " class="sticky-footer text-center">
    <div style="padding-top: 40vh">
      <img src="/assets/img/ic_down.png" (click)="onScrollDown()">
    </div>
  </div>

</div>