h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: white;
} 

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: white;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    color: white;
    margin-bottom: 0px;
}

.role_bg {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.col-md-4.col-4.formula-e {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 0px;
}
.gradient_scroll_down {
    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 0, 0, 0)), color-stop(1, rgba(255, 0, 0, 100)))
}