.my-jobs {
  background-image: url(/assets/img/bg_pattern.png);
  // overflow: scroll;
  // height: 90vh;
  overflow: auto;
}

.sch-job-row {
  margin-bottom: 2px;
}

.title {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  padding: 20px 0 20px 0;
}

div {
  img {
    width: 90%;
  }
}

.spinner-container {
  text-align: center;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
