.my-jobs {
    background-image: url(/assets/img/bg_pattern.png);
    padding-bottom: 40px;
}

.sch-job-row {
    margin-bottom: 2px;
}

.title{
    font-family: "Open Sans";
    font-size: 15px;
    text-align: center;
    color: white;
}