<section>
  <div class="item">
    1. I require qunioa and avocado twice a day.
    <span class="icon-close"></span>
  </div>
  <div class="item">
    2. I require gluten free food options during my lunch break.
    <span class="icon-close"></span>
  </div>
  <div class="item">
    3. All photos taken of me need my consent before public use.
    <span class="icon-close"></span>
  </div>
  <div class="item">
    <span class="icon-plus-circle"></span>
    Add Personal Terms or Conditioins
  </div>
  <p class="disclaimer">
    <b>Disclaimer:</b> Your additional terms are presented to the Client for <br />
    acceptance and in no way override, modify or invalidate any part of the <br />
    Schmodel <u>Terms and Conditions</u>
  </p>
  <div class="form-group form-group--submit">
    <div class="row">
      <button type="button" class="btn--save">SAVE</button>
      <button type="button" class="btn--cancel">CANCEL</button>
    </div>
  </div>
</section>
