<section>
  <form [formGroup]="editTermsForm" (submit)="onSubmit()" (input)="onChange($event)" (change)="onChange($event)">
    <div formArrayName="items" *ngFor="let item of editTermsForm.get('items')['controls'] as FormArray; let i = index;">
      <div [formGroupName]="i" class="item">
        <span class="index-number">{{i+1}}.</span>
        <textarea-autosize formControlName="term" maxlength="300"></textarea-autosize>
        <span class="icon-close" (click)="onRemoveTerm(i)"></span>
      </div>
    </div>
    <div class="item" (click)="onAddTerm()">
      <span class="icon-plus-circle"></span>
      Add Personal Terms or Conditions
    </div>
    <p class="disclaimer">
      <b>Disclaimer:</b> Your additional terms are presented to the Client for acceptance and in no way override,
      modify or invalidate any part of the Schmodel <u (click)="onTC()">Terms and Conditions</u>.
    </p>
    <div class="form-group form-group--submit">
      <div class="row">
        <button type="submit" class="btn btn--save" [disabled]="!editTermsForm.valid || untouched || status">SAVE</button>
        <button type="button" class="btn btn--cancel" (click)="onCancel()">CANCEL</button>
      </div>
    </div>
  </form>
</section>
<app-toast
  *ngIf="status"
  [toastType]="status.success ? 'success' : 'error'"
  [toastMessage]="status.message"
  (closeToast)="status = null;untouched = true"
></app-toast>
