<div class="modal-header">
  <h4 class="modal-title">Message</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content-wrapper"   id="termsWrapper">
    <p class="content">{{messageContent}}</p>
  </div>
  <div class="action-wrapper">
    <button (click)="onOK()"> Ok </button>
    <button *ngIf="isBtnCancel" (click)="onCancel()"> Cancel </button>
  </div>
</div>
