<div class="page-container">
  <div class="logo-container">
    <img class="img-logo" src="assets/img/img_logo.png">
  </div>
  <p class="title">Change Password</p>
  <div class="content-wrapper">
    <div class="content-container">
      <p class="comment">
          Please change<br>
          your password below
      </p>
      <form [formGroup]="changePwdForm" (submit)="onChangePwd()">
        <div class="form-content">
          <div class="form-group">
            <div class="error">{{message}}</div>
            <input type="text" class="form-control input-underline input-lg" formControlName="password" id="password" placeholder="NEW PASSWORD">
            <app-control-messages  [control]="changePwdForm.controls.password"></app-control-messages>
            <input type="text" class="form-control input-underline input-lg" formControlName="confirmPass" id="confirmPass" placeholder="CONFIRM NEW PASSWORD">
            <app-control-messages  [control]="changePwdForm.controls.confirmPass"></app-control-messages>
          </div>
        </div>
        <div class="action-container">
          <div class="btn-submit-container">
            <button class="btn bordered-btn" type="submit" [disabled]="!changePwdForm.valid"> SUBMIT </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
