:host {
    display: block;
  }
  .page-container {
    background-image: url("/assets/img/bg_change_password.png");
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 100vh;
    padding: 30px 50px 0;
    display: flex;
    flex-flow: column wrap;
  
    .img-logo {
      display: block;
      margin: auto;
      width: 67.5%;
    }
    
    .title {
      font-family: 'Open Sans', sans-serif;
      font-size: 34px;
      font-weight: 100;
      color: #ffffff;
      text-align: center;
      margin-top: 6%;
    }
  
    .content-wrapper {
      flex: 1 0 0;
      align-items: flex-end;
      display: flex;
      min-height: 350px;
    }
  
    .content-container {
      text-align: center;
      color: white;
      width: 100%;
  
      .comment {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
      }
    }
  
    .input-lg {
      padding: 34px 0 7px 0;
      font-size: 14px;
      line-height: 1.3333333;
      border-radius: 0;
    }
  
    .input-underline {
      background: 0 0;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      color: #FFF;
      border-radius: 0;
    }
  
    .input-underline:focus {
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      box-shadow: none;
    }
  
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      margin-bottom: 15px;
    }
  
    .form-group {
      input::-webkit-input-placeholder {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
      }
  
      input:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.6) !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
      }
  
      input::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.6) !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
      }
  
      input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
      }

      p.miss-match-pass {
        color: red;
        text-align: left;
        display: block;
        height: 5px;

      }
    }
  
    .action-container {
      font-family: 'Open Sans', sans-serif;
  
      .bordered-btn {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; 
        color: rgba(255, 255, 255, 1);
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 30px;
        padding: 5px 38px;
        border-radius: 0;
        text-transform: uppercase;
      }
  
      .bordered-btn:hover, .bordered-btn:focus, .bordered-btn:active, .bordered-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        outline: none;
      }
  
      .btn-submit-container {
        padding: 27px 0 70px 0;
      }

      .message-wrapper {
        width: calc(100% + 100px);
        margin-left: -50px;
        text-align: left;
        min-height: 40px;
        background-color: #FF4165;
        color: white;
        align-items: center;
        padding: 0 5px 0 25px;
        display: flex;

        .icon-close {
          font-weight: bold;
          font-size: 20px;
          margin-right: 10px;
        }

        .message {
          font-size: 12px;
          b {
            font-size: 14px;
          }
        }
      }
    }
  }
  