body {
    line-height: 1.6;
}
.modal-header {
  background-image: url("/assets/img/bg_modal_title.png");
  background-size: cover;
  color: #FFFFFF;
  border-radius: 0;
  height: 60px;

  .modal-title {
    margin-bottom: 0;
    text-align: center;
    width: 90%;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 400;
    letter-spacing: 1.2px;
    position: absolute;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
  }
}

.modal-body {
  background-color: #ebecec;
  overflow: auto;
  padding: 20px;
  letter-spacing: 1px;
  font-size: 8px;
  font-weight: 400;

  .content-wrapper {
    .content {
      padding: 10px;
      margin-bottom: 0;
      }
  }

  .action-wrapper {
    text-align: center;

  button {
    background-color: transparent;
    border: 1px solid black;
    margin: 10px;
    font-size: 10px;
    padding: 5px 30px;
    border-radius: 0;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    }
  }
}

.custom-border {
  border-bottom: 1px solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  -webkit-border-image: -webkit-gradient(linear, #e6e7e8 0%,#bbbdbf 12%,#bbbdbf 88%,#e6e7e8 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #e6e7e8 0%,#bbbdbf 12%,#bbbdbf 88%,#e6e7e8 100%);
  -moz-border-image:    -moz-linear-gradient(left, #e6e7e8 0%, #bbbdbf 12%, #bbbdbf 88%, #e6e7e8 100%);
  -o-border-image:    -o-linear-gradient(#e6e7e8 0%,#bbbdbf 12%,#bbbdbf 88%,#e6e7e8 100%);
  border-image:    linear-gradient(to right, #e6e7e8 0%,#bbbdbf 12%,#bbbdbf 88%,#e6e7e8 100%);
  border-image-slice: 1;
}
